* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background: url('img/winter2.jpg') no-repeat center center fixed;
    background-size: cover;
    flex-direction: column;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.text-box {
    font-size: 48px;
    font-weight: bold;
    color: #9ca571;
    background-color: #262721;
    padding: 20px 40px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}

.small-box {
    font-size: 20px;
    color: #9ca571;
    background-color: #262721;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
}

.info-box {
    font-size: 20px;
    color: #9ca571;
    background-color: #262721;
    padding: 30px;
    border-radius: 25px;
    text-align: left;
    margin-top: 20px;
    width: 750px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.command-section {
    width: 100%;
    margin-bottom: 10px;
}

.command-line {
    font-family: "Courier New", Courier, monospace;
    background-color: #2a2c1e;
    color: #9ca571;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.command-output {
    font-family: "Courier New", Courier, monospace;
    color: #9ca571;
    background-color: #4a4d3a;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}
