/* Основные и сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background: url('img/winter2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.text-box {
    font-size: 48px;
    font-weight: bold;
    color: #9ca571;
    background-color: #262721;
    padding: 20px 40px;
    border-radius: 25px;
    text-align: center;
}

.alias {
    font-size: 20px;
    color: #9ca571;
    background-color: #262721;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
}

.info-box {
    font-size: 18px;
    color: #9ca571;
    background-color: #262721;
    padding: 20px;
    border-radius: 25px;
    margin-top: 20px;
    width: 750px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.command-line {
    font-family: "Courier New", Courier, monospace;
    background-color: #2a2c1e;
    color: #9ca571;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0; /* Убираем отступ снизу */
}

.command-output {
    font-family: "Courier New", Courier, monospace;
    background-color: #4a4d3a;
    color: #9ca571;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px; /* Устанавливаем отступ только после блока */
    box-sizing: border-box;
}

/* Оформление раскрывающихся блоков */
.expandable {
    cursor: pointer;
    margin-bottom: 10px;
}

.expandable .details {
    display: none;
}

.expandable[data-expanded="true"] .details {
    display: block;
}

.arrow {
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    margin-right: 8px; /* Добавляем отступ справа */
}


.expandable[data-expanded="true"] .arrow {
    transform: rotate(90deg);
}

.title {
    text-align: center;
    margin-bottom: 10px; /* Добавим отступ снизу для отступа */
}

.command-output .expandable {
    margin-bottom: 1px; /* Добавляем такой же отступ, как и у других блоков */
}

.command-output .details {
    margin-left: 1px; /* Сохраняем отступ для вложенных элементов */
}
.details {
    padding-left: 29px; /* Добавляем отступ внутри для эффекта красной строки */
    text-indent: 0; /* Убедимся, что нет других изменений в отступах текста */
}

